.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(../../assets/images/image-03.png);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: top right;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .home {
    background-size: cover;
  }
}

.form {
  animation: alternate 2s fadein;
}

@keyframes fadein {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdown {
  animation: slidDown 0.3s alternate;
  animation-fill-mode: both;
}

@keyframes slidDown {
  to {
    height: 100px;
    padding-block: 12px;
  }
}
